.primarynav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px; PADDING-TOP: 0px
}
.primarynav UL LI.main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; LIST-STYLE-IMAGE: url(https://www.onlinecdp.org/images/whitearrow.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px 17px; PADDING-TOP: 0px
}
.primarynav UL LI.sub {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px 17px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.navigation {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.regtext {
	FONT-SIZE: 11px; COLOR: #363636; LINE-HEIGHT: 15px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #363636; LINE-HEIGHT: 15px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #363636; LINE-HEIGHT: 15px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.telnet {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: courier, serif; TEXT-ALIGN: left
}
.boldhead {
	FONT-WEIGHT: normal; FONT-SIZE: 160%; COLOR: #990000; LINE-HEIGHT: 20px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica,
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 160%; COLOR: #990000; LINE-HEIGHT: 20px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica,
}
A.academic:link {
	FONT-SIZE: 160%; COLOR: #990000; TEXT-DECORATION: none
}
A.academic:visited {
	FONT-SIZE: 160%; COLOR: #990000; TEXT-DECORATION: none
}
A.academic:hover {
	FONT-SIZE: 160%; COLOR: #990000; TEXT-DECORATION: none
}
A.academic:active {
	FONT-SIZE: 160%; COLOR: #990000; TEXT-DECORATION: none
}
#sizer {
	DISPLAY: none
}
DIV#sizer A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TD.content {
	FONT-SIZE: 11px; COLOR: #363636; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 11px; COLOR: #363636; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
TD.content P {
	FONT-SIZE: 11px; PADDING-BOTTOM: 9px; COLOR: #363636; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
.caption {
	FONT-SIZE: 10px; COLOR: #363636; LINE-HEIGHT: 15px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.regtext P {
	PADDING-BOTTOM: 9px
}
.newsmaintitle {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.subhead1 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 5px
}
H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 5px
}
H3 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 5px
}
H4 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 5px
}
H5 {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 5px
}
.newshead1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.subheadtext {
	FONT-SIZE: 13px; COLOR: #262626; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.headertext {
	FONT-SIZE: 22px; COLOR: #6d1440; FONT-FAMILY: Trebuchet MS, Trebuchet, verdana, lucida, arial, helvetica, sans-serif; LETTER-SPACING: -0.01em
}
.header {
	FONT-SIZE: 160%; COLOR: #990000; LINE-HEIGHT: 20px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica,
}
.topnavtext {
	FONT-SIZE: 10px; COLOR: #d1b7c4; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.headcontacttext {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.headcontacttext A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.headcontacttext A:hover {
	TEXT-DECORATION: underline
}
.newstext {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.newstext P {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.submenutext {
	FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.printthistext {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.crumbtext {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.mainnav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #ffffff; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.mainnav P {
	MARGIN: 0.5em 0px
}
.mainnav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.mainnav A:hover {
	TEXT-DECORATION: underline
}
.mainnav EM {
	FONT-STYLE: normal; TEXT-DECORATION: underline
}
.subnav {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 110%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.subnav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-TOP: 0px
}
.subnav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.subnav A:hover {
	TEXT-DECORATION: underline
}
.sidehead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.sidetext {
	FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 145%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.sidetext P {
	FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 145%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.sidetext A {
	COLOR: #ffffff
}
.sidetext P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px; PADDING-TOP: 0px
}
.sidetextblue {
	FONT-SIZE: 10px; COLOR: #334b65; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.sidetextblue A {
	COLOR: #334b65; TEXT-DECORATION: none
}
.sidetextblue A:hover {
	TEXT-DECORATION: underline
}
A.sidetextblue:hover {
	TEXT-DECORATION: underline
}
.sidelink-dim {
	FONT-SIZE: 10px; COLOR: #846502; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelink-dim P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sidelink-dim A {
	FONT-SIZE: 10px; COLOR: #846502; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
.sidelink-dim A:hover {
	COLOR: #334b65; TEXT-DECORATION: underline
}
A.sidelink-dim:hover {
	COLOR: #334b65; TEXT-DECORATION: underline
}
.sidetextblue P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px; PADDING-TOP: 0px
}
.sideheadtext {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.pullquotes {
	FONT-SIZE: 50px; COLOR: #83355b; FONT-FAMILY: Times, verdana, lucida, arial, helvetica, sans-serif
}
.motto {
	FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.footertext {
	FONT-SIZE: 10px; COLOR: #363636; LINE-HEIGHT: 14px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.sidesmall {
	FONT-SIZE: 9px; COLOR: #846502; LINE-HEIGHT: 14px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.searchfield {
	FONT-SIZE: 10px; WIDTH: 103px; COLOR: #363636; LINE-HEIGHT: 14px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.searchbutton {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #363636; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.textsection {
	BORDER-RIGHT: #666 1px dotted; PADDING-RIGHT: 10px; BORDER-TOP: #666 1px dotted; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #666 1px dotted; PADDING-TOP: 10px; BORDER-BOTTOM: #666 1px dotted
}
A {
	COLOR: #990000; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
P {
	MARGIN: 0.5em 0px
}
.topnav {
	COLOR: #d1b7c4; TEXT-DECORATION: none
}
A.topnav:hover {
	COLOR: #d1b7c4; TEXT-DECORATION: underline
}
.newslink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.newslink:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.headcontacttext {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.headcontacttext:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.smalllink {
	FONT-SIZE: 10px; COLOR: #333333; TEXT-DECORATION: none
}
A.smalllink:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.newsmaintitle {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.newsmaintitle:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.printthistext {
	COLOR: #666666; TEXT-DECORATION: none
}
A.printthistext:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
.ticko {
	DISPLAY: block; WIDTH: 120px; TEXT-ALIGN: center
}
.tickh {
	DISPLAY: none
}
.primarynav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #ffffff; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.leftnav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #ffffff; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.primarynav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.leftnav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.primarynav A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.leftnav A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.primarynav LI {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 4px; PADDING-TOP: 0px
}
.whitearrow LI {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 4px; PADDING-TOP: 0px
}
UL.goldarrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(https://www.onlinecdp.org/images/arrow2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 17px; PADDING-TOP: 0px
}
UL.whitearrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(https://www.onlinecdp.org/images/whitearrow.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 17px; PADDING-TOP: 0px
}
.whitearrow LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.leftnav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.greenarrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(https://www.onlinecdp.org/images/arrow1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 17px; PADDING-TOP: 0px
}
.greenarrow LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.tealarrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(https://www.onlinecdp.org/images/arrow1.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 17px; PADDING-TOP: 0px
}
.primarynav2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.primarynav2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.primarynav2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.primarynav2 LI {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 4px; PADDING-TOP: 0px
}
.blogtitle {
	FONT-SIZE: 18px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #666; LINE-HEIGHT: 20px; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
#blogmenu {
	BACKGROUND: #fff; MARGIN-BOTTOM: 15px; TEXT-ALIGN: center
}
.blogdate {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.blogposted {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 25px; COLOR: #000000; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif
}
.blogbody {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333; LINE-HEIGHT: 150%; FONT-FAMILY: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif; TEXT-ALIGN: left
}
.blogbody UL {
	PADDING-LEFT: 15px; MARGIN: 0px 5px 5px; PADDING-TOP: 0px
}
