var st1 = new SortableTable(document.getElementById("table-1"), ["None", "None", "FullName", "CaseInsensitiveString", "Number", "None", "None"]);


<table class="data sort-table" id="table-1" width="100%" style="margin-top:2px;border-width:0px;">
	<col />
	<col />
	<col />
	<thead>
		<tr>
			<td id="count" class="clear">&nbsp;</td>
			<td class="head">Name</td>
			<td class="head">Category</td>
			<td class="head">Completion Status</td>
		</tr>
	</thead>
		<tr>
			<td id="count" class="clear">&nbsp;</td>
			<td class="head" title="Sort by Participant Name">Name</td>
			<td class="head" title="Sort by Category">Category</td>
			<td class="head" title="Sort by Completion Status">Completion Status</td>
		</tr>
	<tbody>
	</tbody>
</table>
