.sort-table {
	border:		1px Solid ThreeDShadow;
	background:	Window;
	background-color:#d8d8d8;
}

.sort-table thead {
	font-weight: bold;
	text-align:center;
	background-color:#e0e0e0;
	vertical-align:baseline;
}

.sort-table td {
	padding:	1px 2px;
}

.sort-table thead td {
	border:			1px solid;
	border-color:	ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	cursor:			default;
}

.sort-table tbody td {
	background-color:#fdfdfd;
	border:			1px solid;
	border-color:	ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.sort-table thead td:active {
	border-color:	ButtonShadow ButtonHighlight
					ButtonHighlight ButtonShadow;
	padding:		1px 1px 1px 1px;
}

.sort-table thead td[_sortType=None]:active {
	border-color:	ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	padding:		2px 5px;
}

.sort-table thead td a:link {
	text-decoration: none;
	color: #663300;
}
.sort-table thead td a:visited {
	text-decoration: none;
	color: #663300;
}
.sort-table thead td a:active {
	text-decoration: none;
	color: #663300;
}

.sort-arrow {
	background-position: right;
	background-repeat: no-repeat;
	margin: 0 2px;
}

.sort-arrow.descending {
	background-image:	url("/ptl/meta/sortabletable/images/ab_arrow_down.png");
	background-position: right;
}

#dualheading {
	background-image: none;
}

.sort-arrow.ascending {
	background-image:	url("/ptl/meta/sortabletable/images/ab_arrow_up.png");
	background-position: right;
}