/* CSS Document */

.box {
  text-align:center;
}
.ordHist {
  width:600px;
  font-family:inherit;
  border:solid .5px #069;
  background-color:#069;
}
tr.ordHead {
  font-size:11px;
  background-color:#069;
  color:#FFF;
  font-weight:bold;
  
}
tr.ordRowOdd{background-color:#FFF;margin:4px;text-align:center;}
tr.ordRowEven{background-color:#CBE3EB;margin:4px;text-align:center;}
tr.ordRowNorm{background-color:#FFF;margin:4px;text-align:left;}
/* td {margin:5px;padding:5px;} */
td.ordID{text-align:right;}
td.ordTotal{text-align:right;}
a.detailLnk:link{color:#069;text-decoration:none;}
a.detailLnk:visited{color:#069;text-decoration:none;}
a.detailLnk:hover{color:#069;text-decoration:none;}
a.detailLnk:active{color:#069;text-decoration:none;}