#orders
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, arial, helvetica, sans-serif;
	border-collapse:collapse;
}
#orders td, #orders th 
{
	font-size: 11px;
	line-height: 150%;
	COLOR: #363636;
	border:1px solid #334b65;
	padding:3px 7px 2px 7px;
}
#orders th 
{
	font-size: 11px;
	line-height: 150%;
	text-align:center;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#334b65;
	color:#ffffff;
}
#orders tr.alt td 
{
	color: #363636;
	line-height: 150%;
	background-color:#E0F3EF;
}
#orders td.rt
{
text-align:right;
}
#orders td.ct
{
text-align:center;
}
a.detailLnk:link{color:#069;text-decoration:none;}
a.detailLnk:visited{color:#069;text-decoration:none;}
a.detailLnk:hover{color:#069;text-decoration:none;}
a.detailLnk:active{color:#069;text-decoration:none;}