/* CSS Document */
/* Reset */
html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
h1 {
  font-weight: normal; 
  font-size: 160%; 
  color: #000000; 
  line-height: 20px; 
  font-family: "lucida grande", "lucida sans unicode", verdana, lucida, arial, helvetica;
}
h2 {
	margin-top: 10px; 
  font-weight: bold; 
  font-size: 120%; 
  margin-bottom: 5px
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	font-size: 62.5%;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1;
	background: #999;
	color: #000;
}
img.right {
margin:0 0 10px 10px;
}
.right {
float:right;
}
.left {
float:left;
}
img.left {
margin:0 10px 10px 0;
}
#wrapper {
width:100%;
margin:0 0 0 0;
padding:30px 0 0 0;
background: url(wrap_bg_backend.gif) left 27px repeat-x;
background-color:#fff;
}
body.internal #wrapper {
background: url(wrap_bg_inner_backend.gif) left 27px repeat-x;
background-color:#fff;
}
#main {
width:970px;
margin-left:auto;
margin-right:auto;
background: url(head_bg2.jpg) center top no-repeat;
overflow:visible;
}
body.internal #main {
background: url(head_bg2_inner2.jpg) center top no-repeat;
}
#banner {
width:960px;
height:233px;
padding:20px 10px 0 0;
background:none;
}
body.internal #banner {
height:108px;
}
#banner h5	{
text-indent: -9999px;
}
#banner h5 a:link, #banner h5 a:visited, #banner h5 a:hover, #banner h5 a:active {
width: 533px;
height: 57px;
display:block;
float:right;
background: url(logo.png) no-repeat;
}
#banner h5 a:focus {
outline:none;
}
#banner h6 {
display:block;
height:37px;
width:340px;
background: url(tag_bg2.png) no-repeat;
position:absolute;
margin:124px 0 0 0;
text-indent: -9999px;
}
body.internal #banner h6 {
position:absolute;
background: url(tag_bg2_inner.png) no-repeat;
width:381px;
height:29px;
margin:63px 0 0 189px;
}
#features {
width:625px;
height:173px;
background:none;
position:absolute;
margin:52px 0 0 345px;
padding:0;
}
#content {
width:924px;
overflow:visible;
background:#fff;
padding:10px 10px 10px 10px;
}
#content a:link, #content a:visited {
color:#008291;
text-decoration:underline;
}
#content a:hover, #content a:active {
color:#008291;
text-decoration:none;
}
/* #content li, */
#content p{
font-size:1.20em;
line-height:1.80em;
margin-bottom:20px;
}
#content td {
  font-size: 11px; 
  color: #363636; 
  line-height: 15px;
  font-style:normal;
  text-align:left; 
  font-family: "lucida grande", "lucida sans unicode", verdana, lucida, arial, helvetica, sans-serif;
}
background:#fff;
float:left;
}
#left h1 {
color:#008291;
font-size:2.10em;
font-weight:normal;
line-height:25px;
margin-bottom:25px;
}
#right {
width:275px;
background:#fff;
float:right;
}
#right a:link, #right a:visited  {
text-decoration:none;
}
#right a:hover, #right a:active {
text-decoration:underline;
}
#right p {
color:#999;
}
#right h3 {
color:#666;
font-weight:normal;
font-size:1.45em;
margin-bottom:10px;
margin-top:10px;
}
#footer {
width:100%;
background:#999;
color:#fff;
border-top:3px solid #ccc;
overflow:auto;
clear:both;
padding-bottom:20px;
padding-top:20px;
}
#footer img {
margin-right:15px;
}
#extras {
width:930px;
color:#fff;
margin-left:auto;
margin-right:auto;
padding-left:10px;
padding-right:10px;
}
#extras p {
padding:5px 0 0 0;
font-size:1.10em;
line-height:1.30em;
}
#extras a:link, #extras a:visited {
color:#fff;
text-decoration:underline;
}
#extras a:hover, #extras a:active {
color:#ff;
text-decoration:none;
}
#copyright {
margin-top:35px;
float:right;
text-align:right;
}
#copyright p {
color:#ccc;
}